// Theme's Styles
@import("C:/Users/DA/Desktop/ipms-project/ipms-docs/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("C:/Users/DA/Desktop/ipms-project/ipms-docs/docs/.vuepress/styles/index.styl")